<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/Images/Bandeau-web-P3S3-vierge.jpg" type="image/x-icon">
    
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#856196">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <nav id='menu'>
    <ul>
      <li><a href='.'>General Information</a></li>
      <!-- <a href='https://privacy-protocols-proofs-saclay-summer-school.github.io/Images/banniere-1.png'>Call for Papers</a></li>-->
     <li><a class='dropdown-arrow' href=''>Program</a>
        <ul class='sub-menus'>
          <li><a href='program'>Program</a></li>
          <li><a href='poster-session'>Poster Sessions</a></li>
          <li><a href='apero-gala'>Apéro & Gala </a></li>
          <li><a href='mentoring'>Mentoring</a></li>
        </ul>
      </li>
      <li><a class='dropdown-arrow' href=''>Practical information</a>
      <ul class='sub-menus'>
        <li><a href='venue'>Conference venue</a></li>
        <li><a href='lunch-breaks'>Lunch breaks</a></li>

      </ul>
    </li>
      
   </ul>
</nav>

<center> <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FParis&mode=WEEK&showTabs=0&showCalendars=0&title&showPrint=0&showNav=0&src=ZTQ4M2FlZmIzYjNlN2Q3MGI4N2FkZDliMGQ5MGFlMGIwNWY0Zjc1YTE5OTdhMTgwN2ZlZDMzZDdhMDllMGE3MEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F09300&hl=en_GB&#038;dates=20250616/20250620" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe> </center>
    

    <main id="content" class="main-content" role="main">
      {{ content }}

     
      <footer class="site-footer">
         <!--<img src="Images/Planning.jpg" />-->
      </footer>
      
    </main>
  </body>
</html>
